/* Global */
@font-face {
    font-family: 'karla';
    src: url('../fonts/Karla-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'karla';
}

html {
    font-size: 15px;
    line-height: 22px;
}

/* Header */


/* Main */


/* Footer */
