/* Global */
@font-face {
    font-family: 'karla';
    src: url('../fonts/Karla-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'karla';
}

html {
    font-size: 15px;
    line-height: 22px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #323A45;
    font-size: 10px;
    text-transform: uppercase;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}

/* Header */
header {
    display: flex;
    /* width: 1360px; */
    height: 103px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0 40px;
}

header nav {
    display: flex;
    /* width: 1360px; */
    height: 23px;
    /* padding-left: 40px; */
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 804.38px;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    width: 325px;
    height: 12px;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 60px;
}

img:hover {
    opacity: 50%;
}

/* Main */

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:40px 0 40px 20px;
}

.bigPic {
    width: 100%;
}

.bigPic img {
    width: 100%;
}

.smallPic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.smallPic img {
    width: 440px;
    height: 616px;
}












/* Footer */
